#filters{
 width:200px; 
 float:left; 
 position:relative; 
 background-color:#FF8686; 
 }
 
#nodes
{
	background-color: #AACCBB;  
 }
 
#ticker
{
	background-color: #F1D02F; 
	border: 1px black solid;
	text-align: center ; 
	margin-left: 16px; margin-bottom: 10px;
}

#ticker a:hover
{
	color: #FFFFFF;
}

#footer
{
	padding-top: 16px;
	clear:both;
}

.header
{
	padding-bottom: 65px;
}

.top_row_left
{
	padding-right: 16px; 
	float: left;
	margin: 20px 0 0 0;
	color: #555;
	font-size: 22px;
	line-height: 28px;
}

.top_row_logo
{
	padding-right: 16px; 
	float: left;
	font-size: 22px;
	line-height: 28px;
}

.top_row_logo h1
{
	margin: 0 0 0 0;
}


.top_row_right
{
	float: right;
	padding-left: 18px; 
	margin: 20px 0 0 0;
}

#page {
margin-left: 242px;
}
	
.menu {
	width: 242px;
	float: left;
	margin-right: 10px;
	}
	
.menu td:hover {
	
	}
	
.menu table {
	border-collapse: separate;
	border: 1px solid #DDF773;
	font-size: 2em; color: #555;
	}	
.menu a {
	color: #555;
	border-bottom: none;
	}
.menu a:hover {
	color: #222;
	background-color:#BBB4FF;
	}
	
.menu a:visitied:hover {
	color: #222;
	background-color:#BBB4FF;
	}
	
.undermenu {
		margin-top: 20px;
	}
	
.banner {  margin-top: 40px; display: block;   margin-left: auto;   margin-right: auto; }
.center { display: block;   margin-left: auto;   margin-right: auto; }

#error {
background-color:#EF3B53;
color:#2B3276;
font-size:1.3em;
padding-left: 5px;
margin-bottom: 5px;
}

#status 
{
	background-color: #BBAACC;
color:#2B3276;
font-size:1.3em;
padding-left: 5px;
margin-bottom: 5px;
}



.spacer 
{
	padding-left: 25px;
}
 

.container {
margin-left:auto;
margin-right:auto;
width:960px;
}

.container:after {
clear:both;
content:" ";
display:block;
height:0;
overflow:hidden;
visibility:hidden;
}


.code_box {
	border: 1px solid #e6e6e6;
	background: #fafafa;
	font-family: Monaco, Courier, monospace !important;
	white-space: pre;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	}


.btcx_table {
	/* clear: both; */
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e6e6e6;
	background: #fafafa;
	margin: 12px 0;
}

.btcx_table td, th {
	padding: .25em 1em;
	border: 1px solid #e6e6e6;
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	color: #666;
	font-size: 0.85em;
}

.btcx_table th {
	font-weight: bold;
	}
.btcx_table tr:nth-child(even) {
	background: #fff;
}
.btcx_table thead th, tfoot td {
	background: #f3f3f3;
	color: #333;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	padding: .5em .75em;
}

.btcx_table, pre > code {
	margin-top: 12px;
	margin-bottom: 12px;
}
.btcx_table, .sort_table, .code_box, .shadow {
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}

.sort_table th {
	color: #333;
	font-size: 1.4em;
	}

input.error { border: 1px solid red; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

.notice 
{
	background-color:#fF7B73;
color:#1B2211;
}

.info_menu {
	width: 242px;
	float: left;
	margin-left: -242px;
	margin-right: 30px;
	margin-top: 100px;
	}

.info_frame {
	//background-color:#FFFFFF;
	background: none;
	//border: none;
	width: 790px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	}

.info_box {
	background-color:#CCC2DE;
	border: 1px black solid;
	-moz-box-shadow:6px 6px 12px rgba(167, 140, 36, 0.8);
	-webkit-box-shadow: 6px 6px 12px rgba(167, 140, 36, 0.8);
	box-shadow: 6px 6px 12px rgba(167, 140, 36, 0.8);
	padding-top:5px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right:10px;
	width: 200px;
	height: 260px;
	margin: 0 20px 40px 20px;
	float: left;
	}
	
.info_box ul {
margin-left: 12px;
}

.info_box li {
margin-bottom: 12px;
}

.info_box a:hover {
	color: #FFF732;
	}
	
.info_box a:visitied:hover {
	color: #FFF732;
	}
	
.info_title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
	border-bottom: 1px black solid;
}
	
.info_graphic {
	width:500px;
	height:300px; 
	margin-top: 20px;
	float: left;
}

.container {
margin-left:auto;
margin-right:auto;
width:960px;
}

#footer {
	height:2.5em;
	margin-top: -5px;
	padding:0 20px;
	width:940px;
}
#footer #etc {
float:left;
font-size:12px;
}
#footer #etc a {
border-right:1px solid #000000;
margin-right:5px;
padding-right:7px;
}
#footer #etc a.last {
border-right:0 none;
}
#footer #legal {
color:#666666;
float:right;
font-size:11px;
line-height:1.5em;
}

.bigText {
	padding-top: 16px;
font-size:46px;
width:130px;
height: 50px;
vertical-align: middle;
}
 
